@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,700);

:root {
    --primary-color: #272822;
    --secondary-color: #ffffff;
    --blue-color: #0277a9;
    --font-size-primary: 16px;

    --bg-color: rgba(0,0,0,0.05);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-primary);
}

a {
    color: var(--secondary-color);
    font-weight: 400;

};



